@page "{pizzaQuantity?}/{orderComplete?}"
@model PizzaStore.Pages.CrearPizzaModel
@using PizzaStore.Utilidades;
@{
    ViewData["Title"] = "Create Pizza";
}

<h1>Welcome to Pizza Store</h1>
<h2>Please select at least 1 ingredient, mass and toast option for your pizza </h2>

@if (AvisosInmediatos.Existe(Model, "Delete"))
{
    @Html.Raw(AvisosInmediatos.Get(Model, "Delete"))
}
@if (AvisosInmediatos.Existe(Model, "Complete"))
{
    @Html.Raw(AvisosInmediatos.Get(Model, "Complete"))
}
@if (AvisosInmediatos.Existe(Model, "Fail"))
{
    @Html.Raw(AvisosInmediatos.Get(Model, "Fail"))
}
@if (AvisosInmediatos.Existe(Model, "Done"))
{
    @Html.Raw(AvisosInmediatos.Get(Model, "Done"))
}
@if (AvisosInmediatos.Existe(Model, "DeleteE"))
{
    @Html.Raw(AvisosInmediatos.Get(Model, "DeleteE"))
}
<form method="post">
    <div class="container">
        <div class="row">
            <div class="btn-group" style="margin-top: 25px">

                <button type="button" class="btn btn-info">Select Ingredient</button>
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    @if (Model.pizzaQuantity >= 0)
                    {
                        string tipo = "";
                        @for (int actualIngredient = 0; actualIngredient < Model.oldIngredients.Count(); ++actualIngredient)

                        {
                            if (tipo != Model.oldIngredients[actualIngredient].type)
                            {

                                tipo = Model.oldIngredients[actualIngredient].type;
                                <li role="separator" class="divider"></li>

                                <li class="dropdown-header">@Html.Raw(Model.oldIngredients[actualIngredient].type)</li>
                                <li role="separator" class="divider"></li>

                                <li style="margin: 5px 5px" class="text-primary"><input type="checkbox" name="newIngredients" value="@Model.oldIngredients[actualIngredient].name"> @Model.oldIngredients[actualIngredient].name</li>

                            }
                            else
                            {
                                <li style="margin: 5px 5px" class="text-primary"><input type="checkbox" name="newIngredients" value="@Model.oldIngredients[actualIngredient].name"> @Model.oldIngredients[actualIngredient].name</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div class="btn-group" style="margin-top: 25px">

                <button type="button" class="btn btn-info">Select Mass</button>
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    @if (Model.pizzaQuantity >= 0)
                    {

                        @for (int actualMass = 0; actualMass < Model.oldMass.Count(); ++actualMass)

                        {



                            <li style="margin: 5px 5px" class="text-primary"><input type="checkbox" name="newMass" value="@Model.oldMass[actualMass].name"> @Model.oldMass[actualMass].name</li>

                        }
                    }
                </ul>
            </div>
            <div class="btn-group" style="margin-top: 25px">

                <button type="button" class="btn btn-info">Select Toast Option</button>
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    @if (Model.pizzaQuantity >= 0)
                    {

                        @for (int actualToastOption = 0; actualToastOption < Model.oldToastOption.Count(); ++actualToastOption)

                        {



                            <li style="margin: 5px 5px" class="text-primary"><input type="checkbox" name="newToastOption" value="@Model.oldToastOption[actualToastOption].name"> @Model.oldToastOption[actualToastOption].name</li>

                        }
                    }
                </ul>
            </div>
            @if (Model.pizzaQuantity > 0)
            {
                <div class="btn-group" style="margin-top: 25px">

                    <button type="button" class="btn btn-info">Delete a Pizza</button>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">

                        <li role="separator" class="divider"></li>

                        <li class="dropdown-header">position</li>
                        <li role="separator" class="divider"></li>
                        @for (int actual = 0; actual < Model.pizzaQuantity; ++actual)

                        {
                            int actualIm = actual + 1;


                            <li style="margin: 5px 5px" class="text-primary"><input type="checkbox" name="deletePizzas" value="@actual"> @actualIm</li>

                        }

                    </ul>
                </div>
            }
            <div class="btn-group" style="margin-top: 25px">

                <input id="btnCon" type="submit" class="btn-primary" asp-page-handler="continue" value="Get price" style="width: 150px" />
            </div>
            <div class="btn-group" style="margin-top: 25px">

                <input id="btnNewPizza" type="submit" class="btn-primary" asp-page-handler="new" value="Add another pizza" style="width: 150px" />
            </div>
            @if (Model.pizzaQuantity > 0)
            {
                <div class="btn-group" style="margin-top: 25px">

                    <input id="btnDeletePizza" type="submit" class="btn-primary" asp-page-handler="delete" value="Delete selected pizza" style="width: 150px" />
                </div>
            }


        </div>
    </div>

</form>
